/* Estilo base para todos los dispositivos */
body {
    font-size: 16px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Estilos para dispositivos móviles */
  @media screen and (max-width: 480px) {
    body {
      font-size: 14px;
      max-width: 100%;
      padding: 10px;
    }
  }
  
  /* Estilos para tabletas */
  @media screen and (min-width: 481px) and (max-width: 768px) {
    body {
      font-size: 16px;
      max-width: 100%;
      padding: 20px;
    }
  }
  
  /* Estilos para computadoras de escritorio */
  @media screen and (min-width: 769px) {
    body {
      font-size: 18px;
      max-width: 1200px;
      padding: 50px;
    }
  }
  